.top-bar, .top-bar ul {
  background-color: $nav-background;
}
.top-bar {
  .menu-text {
    color: $nav-text-color;
  }

  .menu > .menu-text > a {
    padding: 0;
    display: inline;
  }

  .active-link {
    font-weight: bold;
  }
}
